:root {
    font-family: 'Segoe UI', Tahoma;
    --third-color: red;
}

/*** Header ***/
.whitebold,
nav>a,
#username {
    color: white;
    font-weight: bold;
}

#userBox {
    position: absolute;
    top: 25px;
    left: 50px;
}

#imgUser {
    height: 50px;
    width: 50px;

    /* Redondear foto */
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
}

#username {
    position: inherit;

    top: -27px;
    left: 70px;
    font-size: 2em;
}

.imgHeader {
    background-color: black;
    height: 100px;
    margin: -8px -8px 0px -8px;

    font-size: 2.5em;

    /* Centrar texto vertical y horizontalmente */
    text-align: center;
    vertical-align: middle;
    line-height: 92px;
}

nav a {
    text-decoration: none;
    padding: 12px 12px;
    display: inline-block;
    transition: 0.3s;
}

nav a:hover {
    background-color: black;
    color: var(--third-color);
    transition: 0.3s;
}

nav {
    text-align: center;
    background-color: var(--third-color);
    margin: 0px -8px;
}

/*** Formulario ***/
.userForm {
    margin: 0 auto;
    align-items: center;
    width: 500px;
}

input,
button {
    padding: 5px;
    margin: 5px;
}

.userForm>h1 {
    text-align: center;
}

.col-30 {
    display: inline-block;
    width: 30%;
}

.col-60 {
    width: 60%;
}

.center {
    text-align: center;
}